.body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    
}

.h1{
    font-weight: bold;
    color: #fff;
}

.ul {
    padding:0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: bold;
    font-size: 18px;
    }

   
.topo-bk {
    background-color:#002f49;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    display: block;
}

@media (max-width:800px){
    .ul {
        gap: 20px;
    }
}

@media (max-width:600px){
    .ul {
        gap: 20px;
    }
    .ul a {
        padding: 8px 12px;
        font-size: 14px;

    }

}
.h2, 
.ul, 
.p {
    margin: 0px;

}

.introducao-bk {
    background: rgb(244, 241, 241);
    box-shadow: inset 0 -40px white;
    padding-top: 3px;

}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}


.introducao img {
    height: 100%;
    object-fit: cover;
    margin-bottom: -140;
    border-radius: 10px;
}

.introducao h2 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 72px;
}

.introducao h2 span {
    background: rgb(246, 246, 193);
}

.introducao p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 36px;
    color: rgb(139, 141, 142);
}

@media (max-width: 1200px) {
    .introducao h2 {
        font-size: 48px;
    }
    .introducao p {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
        .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo {
        padding-bottom: 0px;

    }
    .introducao h2 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao img {
        height: 300px;
        width: 57%;
    }
}

.servicos h2 span {
    background: rgb(246, 246, 193);
}

.servicos {
    padding-top: 60px;
    padding-bottom: 120px;

}

.servicos h2 {
    margin-bottom: 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.servicos ul {
    display: flex;
    gap: 40px;
    padding: 0 20px;
    max-width: auto;
    margin-left: 10px;
    margin-right: auto;
    flex-wrap: wrap;

}

.servicos li {
    flex: 1px;
    min-width: 280px;
}

.servicos img {
    border-radius: 10px;
    margin-bottom: 16px;
}

.servicos a {
    display: block;
}

.servicos h3 {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
        .servicos {
     padding-bottom: 40px;
    }
    .servicos ul {
        gap: 10px;
    }

}

.vantagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}

.vantagens-bk {
    background-color: rgb(244, 241, 241);
    box-shadow: inset 0 40px  white,  inset 0 -40px white;
}

.vantagens-conteudo span {
    display: block;
    margin-bottom: 20px;
    color: rgb(106, 107, 108);
    font-weight: bold;
    font-size: 64px;
    margin-left: 50px;
}


.vantagens-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.vantagens-conteudo {
    padding-top: 400px;
    padding-bottom: 400px;
}

.vantagens-conteudo h2 {
    display: block;
    margin-bottom: 32px;
}

.vantagens-conteudo > p {
    margin-bottom: 40px;
}

.vantagens-beneficios {
    display: flex;
    gap: 40px;
    padding: 50px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.lista-vantagens {
    margin-top: 80px;
    line-height: 50px;
    font-weight: bold;
 }

.vantagens-beneficios h3 {
    max-width: 8px;
    margin-top: 100px;
    width: max-content;
    margin-right: 40px;
}

@media (max-width: 800px) {
    .vantagens-bk {
        grid-template-columns: 1fr;

    }
    
    .vantagens-conteudo {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .vantagens-imagem {
        display: none;
    }
}

@media (max-width: 600px) {
    .vantagens-beneficios {
        flex-direction: column;
    }
}

.contato {
    background-color: #fffdfd;
    margin-top: 150px;
    padding: 10px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .contato span {
    background-color: rgb(246, 246, 193);

  }
  
  form {
    width: 500px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
    background-color: #002f49;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
  
  .footer {
    margin-top: 20px;
    padding: 10px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 7px;
    }